[submodule "cuda"]
	path = cuda
	url = https://github.com/system76/cuda
	branch = master
[submodule "natron"]
	path = natron
	url = https://github.com/pop-os/packaging-natron
	branch = master
[submodule "repo-curated-free"]
	path = repo-curated-free
	url = https://github.com/pop-os/repo-curated-free.git
	branch = master
